nav {
	padding: 40px 4% 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: 0;
	box-sizing: border-box; // maintain width at 100%;
	// background: linear-gradient(
	// 	176deg,
	// 	rgba(22, 22, 22, 0.8) 30%,
	// 	rgba(255, 255, 255, 0) 70%
	// );
	// height: 200px;
	z-index: 100;
	.nav-links {
		a {
			text-decoration: none;
			color: white;
			padding: 8px 15px;
			font-family: Arial, Helvetica, sans-serif;
			margin-left: 15px;
			text-transform: uppercase;
			transition: 0.2s;
			font-size: 14px;
			text-align: center;
			text-shadow: 0px 0px 20px black;
			&:hover {
				color: grey;
			}
		}
	}
}
